<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>


<br/>
<body class='container'>
    <div class='row'>
        <div class="col-md-6">
            <div id="chessBoard" style="width: 400px;margin-bottom: 0px;"></div>
            <div class="btn-group text-center" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning">Black</button>
                <button type="button" class="btn btn-warning">White</button>
            </div>
        </div>

    </div>

    <script src="/js/main.js"></script>
</body>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>